{# Nunjunks partial file #}
<a
    href="https://github.com/jasonsjones/lwr-sandbox"
    class=""
    aria-label="View source on GitHub"
    target="_blank"
    rel="noopener">
    <svg
        style="position:absolute;top:0;border:0;right:0"
        width="65"
        height="65"
        fill="#4338ca"
        aria-hidden="true"
        color="#fff"
        viewbox="0 0 250 250">
        <path d="M0 0l115 115h15l12 27 108 108V0z"/>
        <path
            style="transform-origin:130px 106px"
            fill="currentColor"
            d="M128 109c-14-9-9-19-9-19 3-7 2-11 2-11-2-7 2-3 2-3 4 5 3 11 3 11-3 11 5 15 8 16"
            class="octo-arm"/>
        <path
            fill="currentColor"
            d="M115 115s4 2 5 0l14-13c3-3 6-4 8-3-8-11-14-25 2-41 5-5 10-7 16-7 0-2 3-7 11-11 0 0 5 3 8 16a59 59 0 0 1 21 22c14 2 16
                7 16 7-3 8-9 11-11 12 0 5-2 11-7 16-16 16-30 10-40 1 0 3-1 7-5 11l-12 12c-1 1 1 5 1 5z"
            class="octo-body"/>
    </svg>
</a>