<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" type="image/x-icon" href="$assetsDir/images/favicon.ico"/>
        <link rel="stylesheet" href="$assetsDir/styles/main.css"/>
        <link rel="stylesheet" href="$assetsDir/styles/twcompiled.css"/>
        <title>{{ global.siteTitle }}</title>
    </head>
    <body>
        <div class="app">
            {{ body | safe }}
            {{ lwr_resources | safe }}
        </div>
    </body>
</html>